# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
build/
out/
.vite/
dev-dist/

# Environment & secrets
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Editor & IDE
.vscode/
.idea/
*.suo
*.sw?

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Test & coverage
coverage/
.nyc_output/

# Misc
*.pem
*.key

# TS build info
*.tsbuildinfo
.vercel
.env*
